/* Global Styles */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #EAD2D6;     /* Soft Blush Pink */
  --accent-color: #D4AF37;      /* Luxury Gold */
  --secondary-color: #313131;    /* Dark Charcoal Text */
  --text-light: #757575;
  --background-color: #FCF9F7;  /* Warm Off-White */
  --light-gray-bg: #f5f5f5;
  --border-color: #eeeeee;

  --danger-color: #f44336;
  --danger-hover-color: #d32f2f;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color); /* Use new background color */
  color: var(--secondary-color);
}

/* General Button Styling */
button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn {
  background-color: #2c3e50; /* Dark Blue/Charcoal */
  color: white;
  font-weight: 500;
}
.btn:hover {
  background-color: #34495e; /* A slightly lighter shade for hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Cancel/Danger Button (Red) */
.btn-danger {
  background-color: var(--danger-color);
  color: white;
}
.btn-danger:hover {
  background-color: var(--danger-hover-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
